:root {
  --primary-color:rgb(0, 65, 129);
  --primary-select-color:rgb(0, 35, 70);
  --primary-text-color:white;

  --secondary-color:rgb(195, 211, 226);
  --secondary-select-color:rgb(168, 194, 219);
  --secondary-text-color:rgb(39, 39, 39);

  --warning-color:rgb(158, 0, 0);
  --warning-select-color:rgb(83, 0, 0);
  --warning-text-color:white;
  
  --background-color: rgb(240,240,240);
  --background-color-accent: rgb(228, 228, 228);
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.pair{
  padding: 5px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: var(--background-color);
}

.pair[active=true]{
  background: yellow;
}

.dropZone{
  height: 10px;
  margin: 10px 0px;
  width: 100%;
  transition: all, 0.5s;
}

.dropZoneActive {
  height: 150px;
  position: relative;
  top: -75px;
  z-index: 10;
  transition: all, 0.5s;
}

.expand{
  height: 100px;
  background-color: rgba(122, 224, 255, 0.295);
}

.pairHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.whatStep {
  padding: 5px 10px;
  background-color: var(--background-color-accent);
  margin-bottom: 10px;
  border-radius: 10px;
}

.whatHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.whatName{
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.deleteButton{
  background-color: var(--warning-color);
  color: var(--warning-text-color);
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.toggler {
  font-size: 150%;
  margin: 0px
}

.modal {
  width: 40%;
  min-height: 30%;
  position: fixed;
  background-color: var(--background-color-accent);
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.toggler:hover {
  cursor: pointer;
}

.toggler::before{
  margin-right: 5px;
}

.toggler.on::before {
  content: '+';
}
.toggler.off::before {
  content: '-';
}

.where {
  margin-left: 20px;
}

.spacer{
  width: 10px;
}

.key {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
}

.value {
  margin-bottom: 20px;
}

.collapsible {
  display: flex;
  flex-direction: row;
}

.collapsed{
  display: none
}

.button {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: small;
  font-weight: 900;
}

.button-control {
  width: 25%;
}

#screen {
  width: 1280px;
  height: 720px;
}

.button:hover{
  cursor: pointer;
}

.primary {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

.primary:hover {
  background-color: var(--primary-select-color);
}

.warning {
  background-color: var(--warning-color);
  color: var(--primary-text-color);
}

.warning:hover {
  background-color: var(--warning-select-color);
}

.option {
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.option:hover {
  cursor: pointer;
  background-color: var(--secondary-select-color);
}

.verticalLine {
  border-left: 1px solid grey;
  margin-top: 5px;
  flex:1
}

.scalar {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 5px solid lightgrey
}