.App {
  width: 30%;
  margin-left: 35%;
}

.pair{
  border: 1px black solid;
  padding: 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px
}

.toggler {
  font-size: 150%;
  margin: 0px
}

.toggler:hover {
  cursor: pointer;
}

.toggler::before{
  margin-right: 5px;
}

.toggler.on::before {
  content: '+';
}
.toggler.off::before {
  content: '-';
}

.recursive {
  margin-left: 20px
}

.collapsible {
  display: flex;
  flex-direction: row;
}

.collapsed{
  display: none
}

.horizontal-line {
  border-left: 1px solid grey;
  margin-right: 10px;
  height: 100%
}

.scalar {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 5px solid lightgrey
}